.python-version

celerybeat-schedule.*

*.sage.py

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

/site

.mypy_cache/

*.tmlanguage.mypy_cache
*.tmPreferences.mypy_cache
*.stTheme.mypy_cache
*.sublime_workspace
*.sublime-project

sftp-config.json

Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
GitHub.sublime-settings

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

db.sqlite3
