{% extends "auction/base.html" %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}
 <main class="main">

    <!-- Page Title -->
    <div class="page-title">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1 class="heading-title">Create an Account</h1>
                        <p class="mb-0">
                            Become a provider today! Create an account to start creating your product for auctioning and reach a wider audience.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="current">Create an Account</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Registration</h2>
            <p>Fill in the form below to create an account.</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up">
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
        <div>
            <p class="text-center mt-3">Already have an account? <a href="{% url 'login' %}">Login here</a></p>
        </div>

    </section><!-- /Starter Section Section -->

</main>
{% endblock %}